/* .container{
    background-color: aqua;
} */
/* .row{
    background-color: bisque;
    margin: 2px;
} */

.container{
    /* display: grid; */
}

.grid-container{
    /* display: grid; */
    width: 100%;
    /* background-color: brown; */
    padding: 20px;
    height: 100%;
}

.section{
    /* background-color: aqua; */
    /* width: 25%; */
}

.middle{
    /* background-color: bisque; */
    /* width: 50%; */
}

.car{
    /* background-color: blue; */
    /* background-image: url(/Asset/download.jpg); */
    /* height: 100%; */
    width: 100%;
    height: 70vh;
    border-radius: 5px;
    /* width: 100%; */
    margin : 0 10px 10px 10px;
    
}

.carousel-item{
    /* background-color: blueviolet;  */
    align-content: center;
    height : 100%;
    max-width: 100%;
}

.carousel-item img{
    max-width: 100%;
    height: auto;
    /*  background-image: url(Asset/); */
}

/* img .pic-1{
    background-image: url("/Asset/Group-1.png");
    height: auto;
    width: auto;
}

.pic-2{
    background-image: url("/Asset/Group\ 2.png");
} */

.item{
    /* background-color: coral; */
    /* margin: 10px; */
    /* height: 25vh; */
}

.card{
    margin-top: 50px;
}
.card img{
    margin: 10px;
    width: 50%;
}

.feature{
    /* background-color: cornflowerblue; */
    /* width: 25%; */
}

.form{
    margin-top: 50px;
}